.flow > * + * {
  margin-top: var(--space, .75rem);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-base)w
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-base);
}

.container {
  container-type: inline-size;
}


@container (min-width: 250px) {
  .counter {
    --size: 80px;
    font-size: 1.8rem;
  }
}

@container (min-width: 400px) {
  .counter {
    --size: 110px;
    font-size: 2.2rem;
  }
}