/* Block: Counter */
.counter {
  --size: 80px;
  width: var(--size);
  height: var(--size);
  background: var(--bg);
  border-radius: 50%;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;

  transition:
    transform var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;
}

.counter:hover {
  transform: scale(var(--hover-scale));
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.counter--alert {
  --bg: #deb544;
}

@container (min-width: 250px) {
  .counter {
    --size: 80px;
    font-size: 1.8rem;
  }
}

@container (min-width: 400px) {
  .counter {
    --size: 110px;
    font-size: 2.2rem;
  }
}